Package: com.shrugs.jumpcontroller
Name: JumpController
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Matt Condon
Author: Matt Condon
Section: Tweaks
